@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: #e4e4e4;
}

#backwards {
  margin-left: 12%;
  margin-top: 7%;
  width: 40px;
  height: 27px;
  border: 2px solid;
  border-radius: 7px;
  justify-content: center;
  transition-property: width, height;
  transition-duration: 0.5s;
}

#backwards:hover {
  width: 45px;
  height: 30px;
}

.title {
  margin-top: -2.5%;
  padding-left: 20%;
  align-items: center;
}

.row {
  margin-top: 3% 5% 0;
}

.col-lg-3,
.col-lg-6,
.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music-player {
  position: relative;
  left: 10%;
}

#album-cover {
  width: 200px;
  border-radius: 10%;
  position: relative;
  left: 70px;
  box-shadow: 0 0 37px #555555;
}

.time-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-slider {
  border-radius: 10px;
  height: 5px;
  background-color: gray;
  appearance: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0 5px 0 5px;
}
.t-slider::-webkit-slider-thumb{
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #555555;
  border-radius: 50%;
}
.t-slider:hover{
  background-color: #555555;
}

.play-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pl {
  margin: 0 3% 0;
  background-color: #e4e4e4;
  border: 0;
  color: gray;
  font-size: 25px;
  transition-property: color;
  transition-duration: 0.5s;
}

.pl:hover {
  color: #555555;
}

.music-playlist {
  position: relative;
  left: 10%;
}

.playlist {
  text-align: left;
  padding: 2% 0;
  width: 80%;
  border: 1px solid;
  border-radius: 10px;
  background-color: #e4e4e4;
  font-size: 17px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 5px #555555;
  transition-property: font-size, width;
  transition-duration: 0.3s;
}

.playlist:hover {
  font-size: 19px;
  width: 85%;
}

.list-image {
  margin: 0 5%;
  width: 55px;
  border-radius: 10px;
  box-shadow: 0 0 5px #555555;
}
